{% extends "base.html" %}
{% block content %}
<section id="content">

<div class="info-block summary">
<p>As a regular contributor to the <strong><a href="http://scikit-learn.org">scikit-learn</a></strong> library, I developed areas of expertise that include <strong>Machine Learning</strong>, <strong>Text Mining</strong> and <strong>Natural Language Processing</strong>.</p>

<p>I have several years of experience in programming with Python, NumPy, SciPy and Java. I had the opportunity to work with data processing tools like Apache Hadoop, Apache Pig, Spark and indexing technologies such as Apache Solr and ElasticSearch.</p>

<p>I am well versed in Cloud Computing technologies to automate cluster deployments and continuous integration for data-intensive applications.</p>

<p>I obtained a MSc in Advanced Computing from <a href="http://imperial.ac.uk">Imperial College London</a> and a MSc in Mathematics and Computer Science from <a href="http://www.ensta-paristech.fr/">ENSTA ParisTech</a>.</p>

</div>

<div id="agenda" class="info-block">
<h2>Upcoming Talks &amp; Events</h2>
<ul>
    <li><div class="event-name"><a href="http://www.meetup.com/Data-Science-London/events/105840372/"
        >London Data Science Meetup</a></div>
        <div class="event-date"><i class="icon-calendar"></i> Mar 7, 2013 - London</div>
    </li>
    <li><div class="event-name"><a href="https://us.pycon.org/2013/schedule/presentation/23/"
        >PyCon</a></div>
        <div class="event-date"><i class="icon-calendar"></i> Mar 13, 2013 - Santa Clara</div>
    </li>
    <li><div class="event-name"><a href="http://pydata.org/abstracts/#6"
        >PyData Silicon Valley</a></div>
        <div class="event-date"><i class="icon-calendar"></i> Mar 19, 2013 - Santa Clara</div>
    </li>
</ul>

<h2>Past Events</h2>
<ul>
    <li><div class="event-name"><a href="http://data-tuesday.com/2013/02/13/decouvrez-le-programme-du-26-fevrier-2013/"
        >Data Tuesday</a></div>
        <div class="event-date"><i class="icon-calendar"></i> Feb 26, 2013 - Paris</div>
    </li>
    <li><div class="event-name"><a href="http://www.meetup.com/Paris-Datageeks/events/99501752/"
        >Paris Data Geeks Meetup</a></div>
        <div class="event-date"><i class="icon-calendar"></i> Feb 8, 2013 - Paris</div>
    </li>
</ul>
</div>

<div id="availability-info" class="info-block">
<h2><strong>available in <span class="availability">May 2013</span></strong></h2>
</div>

<div id="contact-info" class="info-block">
<h2>Contact</h2>
<ul>
    <li id="email-address"><a href="mailto:olivier@ogrisel.com"><i class="icon-mail"></i> olivier@ogrisel.com</a><li>
    <li id="twitter-account"><a href="http://twitter.com/ogrisel"><i class="icon-twitter"></i> @ogrisel on twitter</a><li>
    <li id="github-account"><a href="http://github.com/ogrisel"><i class="icon-github"></i> @ogrisel on github.com</a><li>
    <li id="linkedin-account"><a href="http://www.linkedin.com/in/oliviergrisel"><i class="icon-linkedin"></i> LinkedIn Profile</a><li>
</ul>
<p><i class="icon-location"></i> I am based in <strong>Paris</strong>, France.</p>
</div>

<div id="twitter-feed" class="info-block">
<a class="twitter-timeline" href="https://twitter.com/ogrisel" data-widget-id="305789441442725888">Tweets by @ogrisel</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div style="clear: both" />

</section> <!-- /#content -->
{% endblock content %}
